#page-container {
    position: relative;
    min-height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightblue;
    margin-top: 20px;
}

p {
    color: black;
}

h1 {
    color:black;
}

.go-to a{
    color:black;
    text-decoration: underline;
}

.contact a{
    color:black;
    text-decoration: underline; 
}

.contact a:hover {
    color:darkblue;
}

.go-to a:hover {
    color:darkblue;
}

#footer-logo {
    max-height: 50px;
    max-width: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
}