<!--NAVBAR PARTIAL START-->
<link rel="stylesheet" href="/resources/navbar/navbar.css">

<div class="navbar">
    <div class="navbar-logo-div">
        <img src="/resources/navbar/logo.png" alt="logo" id="navbar-logo"/>
    </div>

    <div class="navbar-buttons">
        <button class="navbar-button" id="navbar-ticket-button">
            <p><%= navbarTicketText%></p>
        </button>

        <button class="navbar-button" id="navbar-language-button">
            <p><%= lang%></p>
        </button>
    </div>
</div>

<!--navbar-ghost is behind the navbar to make sure the website content doesn't get pushed behind-->
<div class="navbar-ghost"></div>

<script src="/resources/navbar/navbar.js"></script>
<!--NAVBAR PARTIAL END-->