body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: max-content;
    height: max-content;
    text-overflow: clip;

    display: flex;
}

.text-wrapper, .image-wrapper {
    max-width: 300px;
}

.pages {
    width: max-content;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.pages a {
    width: min-content;
}

.image-wrapper {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 200px;
}

@media only screen and (max-width: 650px) {
    .card {
        flex-direction: column-reverse;
    }

    .text-wrapper, .pages {
        text-align: center;
    }

    .pages a {
        width: 100%;
    }
}