<!DOCTYPE html>
<html lang=<%= lang%>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/global/global') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('../partials/navbar/navbar') %>
</body>
</html>